.increment{
  all:unset;
  background-color: hsl(337, 100%, 50%);
  border: 2px solid black;
  padding-right: 10px;
  margin-right: 10px;
  font-size: xx-large;
  font-weight: bolder;
}
.decrement{
  all:unset;
  background-color: hsl(337, 100%, 50%);
  border: 2px solid black;
  padding-right: 10px;
  margin-right: 10px;
  font-size: xx-large;
  font-weight: bolder;
}
.reset{
  all:unset;
  background-color: hsl(337, 100%, 50%);
  border: 2px solid black;
  padding-right: 10px;
  margin-right: 10px;
  font-size: xx-large;
  font-weight: bolder;
}
.display{
  
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}